@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: "Cairo", sans-serif;
  direction: rtl;

}


section{
  overflow-x: hidden;
}

/*
html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-snap-stop: normal;
}

div, #scroll_snap, footer{
  scroll-snap-align: center;
}


*/


::-webkit-scrollbar {
  width: 12px; 
  height: 12px; 
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#d89a37, #d89a37);;
  /*border-radius: 3px;*/
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#d89a37, #d89a37);;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 6px; 
  margin: 0px; 
}

::-webkit-scrollbar-track:hover {
  background: #e1e1e1; 
}

::-webkit-scrollbar-corner {
  background: #f1f1f1; 
}


.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}





